.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.avatar{
  width:50px;
  height: 50px;
  display:block;
  background:orangered ;
  line-height: 50px;
  text-align: center;
  color:white;
  border-radius:50%;
}
tr{
  line-height: 50px;
  text-align: center;
}
td{
  line-height: 50px;
  align-items: center;
  margin: auto;
}
label{
  float: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin: 5px 20px ;
}
.form{
  margin:auto
}
.form-row{
  display:flex;
}
 .form-row input{
  width: 60%;
  padding:10px;
  margin:auto;
  border: 1px solid orangered;
}
.form-control{
  width: 60%;
  border: 1px solid orangered;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
